# App
APP_PORT=
APP_NAME=
APP_ENCRYPTION_KEY=
FRONTEND_URL=

# HTTP
TRUST_X_FORWARDED_FOR=true

# DB
DBOX_TYPE=
DB_TYPE=
DB_NAME=
DB_USER=
DB_PASS=
DB_HOST=
DB_PORT=

# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_FROM=
SMTP_USER=
SMTP_PASS=

# AWS
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_REGION=
S3_BUCKET=
S3_ENDPOINT=
S3_SSL=